/* General Styles */

html {
    font-size: 16px;
  }
  
  body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: left;
    background-color: hsl(216, 12%, 8%);
  }

  p { 
    font-size: 0.875em;
    line-height: 1.285;
  }

  .content-wrapper {
    width: 90%;
    margin: 50px;
  } /* add this style to the html */

  header,
  footer {
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  header {

  }

  h1 {
      color: white;
  }

  .description {
      color: hsl(217, 12%, 63%);
  }



  header .content-wrapper {
    margin: 0;
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  .rating-button p {
      color: white;
      /* figure out how to make the background a circle */
  }

  .submit-button {
      background-color: hsl(25, 97%, 53%);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 30px;
      margin-top: 40px;
      margin-bottom: 40px;
      align-items: center;
      text-align: center;
      width: 50%;
      
    
  }

/* 
  use the style guide for the colors
  the number buttons have to be a circle
  The submit button text is white and the background is orange
*/

/* work on the colors and format this week */



