/* General Styles */

html {
    font-size: 16px;
  }
  
  body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: left;
  }

  p { 
    font-size: 0.875em;
    line-height: 1.285;
  }

  .content-wrapper {
    width: 90%;
    margin: 50px;
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-flow: row wrap;
  } /* add this style to the html */

  .black-box {
    width: 412;
    height: 416;
    background-color: hsl(213, 19%, 18%);
  } /* look at the skillcrush html and css course and look up how to use flex box and and how to center content */

  h1 {
      color: white;
  }

  .description {
      color: hsl(217, 12%, 63%);
  }



  header .content-wrapper {
   
  }

  .rating-button p {
      color: hsl(217, 12%, 63%);
      /* figure out how to make the background a circle */
  }

  .submit-button {
      background-color: hsl(25, 97%, 53%);
      border-radius: 30px;
      align-items: center;
      text-align: center;
      width: 50%;
      font-size: 30px;
  } 











